.padre {
    height: 1000px;
}

html, body{ 
    height:100%;
}
#root{
    height:100% !important;
}
#contenido{
    height:100% !important;
}

.card-dispositivos {
    cursor: pointer;
}

.card-dispositivos:hover {
    background-color: rgba(0, 0, 0, .1);
}

.caja1{
    display: block;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}
.caja2{
    margin: auto;
    padding: 40px;
    width: 400px;
    background-color:rgb(223, 219, 219);
    align-items: center;
    border: 3px solid black;
    border-style: groove;
    text-align: center;
    border-radius: 10px;
}
.fondologin{
    position: fixed;
    z-index: -1;
    opacity: .4;
    overflow: hidden;
}
    

